<main class="bg-white p-8 rounded-lg shadow-xl w-full max-w-md">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Upis</h1>
    <form>
        <div class="mb-6">
            <label for="last_name">Indeks: </label>
            <input type="text" id="index" name="index" placeholder="Enter uID (u formatu GGGG/BBBB)"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent" 
                [(ngModel)]="uid"/>
        </div>
        <div class="mb-6">
            <label for="last_name">Fakultet (skraćeno): </label>
            <input type="text" id="faculty" name="faculty" placeholder="Unesite fakultet (npr. FFUB)"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent" 
                [(ngModel)]="org"/>
        </div>
        <div class="mb-6">
            <button type="submit"
                class="w-full bg-purple-600 text-white py-2 px-4 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
                (click)="enroll()">
                Proveri
            </button>
            <p class="text-center">*NAPOMENA: Provera UPISUJE STUDENTA ako mu je ovo prvi put da dolazi, a prikazuje kada je poslednji put bio na rektoratu!</p>
        </div>
        <div class="mb-6">
            <button type="submit"
                class="w-full bg-purple-600 text-white py-2 px-4 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
                (click)="check()">
                Proveri da li je ikada upisan
            </button>
        </div>
        <div class="mb-6">
            <button type="submit"
                class="w-full bg-purple-600 text-white py-2 px-4 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
                (click)="log_exit()">
                Evidentiraj izlazak studenta
            </button>
        </div>
        <div class="mb-6" *ngIf="is_admin">
            <button type="submit"
                class="w-full bg-purple-600 text-white py-2 px-4 rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
                (click)="admin_panel()">
                Admin Panel
            </button>
        </div>
    </form>
</main>